* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;

}

a {
    color:unset;
    text-decoration:none;
}

body {
    background: var(--color-bg-light);
    overflow-x:hidden;
}

.header__bg {
    background: var(--color-bg-light);
    height:calc(100vh);
}



.xxl {
    width:900px;
    height:900px;
    border-radius:50%;
    position:absolute;
    right:-200px;
    bottom:-200px;
    background-color:#D3D1F0;
    opacity:0.9;
    animation:ripple 15s infinite;
    animation-delay:1s;
    animation-fill-mode: backwards;

}

.xl {
    width:700px;
    height:700px;
    position:absolute;
    border-radius:50%;
    right:-150px;
    bottom:-150px;
    background-color:#AEAAE4;
    opacity:0.9;
    animation:ripple 15s infinite;
    animation-delay:2s;
    animation-fill-mode: backwards;


}

.l {
    width:500px;
    height:500px;
    position:absolute;
    border-radius:50%;
    right:-80px;
    bottom:-90px;
    background-color:#8983D8;
    opacity:0.9;
    animation:ripple 15s infinite;
    animation-delay:3s;
    animation-fill-mode: backwards;


}

.m {
    width:400px;
    height:400px;
    position:absolute;
    border-radius:50%;
    right:-100px;
    bottom:-100px;
    background-color:#645DCB;
    opacity:0.9;
    animation:ripple 15s infinite;
    animation-delay:4s;
    animation-fill-mode: backwards;



}

.s {
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    right:-100px;
    bottom:-120px;
    background-color:#433BBA;
    opacity:0.9;
    animation:ripple 15s infinite;
    animation-delay:5s;
    animation-fill-mode: backwards;


}

@keyframes ripple {
    0% {
        transform:scale(0.8);

    }
    50%{
        transform:scale(1.2);

    }
    100%{
        transform:scale(0.8);
    }
}

.projects__bg {
    
    box-shadow:0px 0px 40px rgb(146, 146, 146);
    

}

.about__bg {
    background:var(--color-bg-dark);
    box-shadow:0px 0px 20px darkgray;
}

.contact__bg {
    background:var(--color-bg-light);
    
}
.section__padding {
    padding: 4rem 0rem 6rem 6rem;
}

.footer__bg {
    background:var(--color-bg-dark);
}

@media screen and (max-width:1360px) {
    .section_padding {
        padding:0rem;
    }
}